@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Chillax', sans-serif;
  font-weight: 300;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}